.feature-options {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 12px;
  background: #111;
  color: #eee;
  max-width: 100%;
}

.feature-options label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.80rem;
  line-height: 1.4;
  padding-left: 4px;
}

.feature-options  input{
    font-size: 18px;
    color: greenyellow;
    background-color: rgb(235, 19, 159);
}

/*TEXT SAYS OPTIONAL FEATURES*/
h4{
    font-size: 14px;
    margin-top: 0;
}


/*Deploy BTN & GAS Estimate BTN START*/
.swap-button-wrapper button {
  margin: 8px 5px 0 0;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
}
/*Deploy BTN & GAS Estimate BTN END*/

.swap-button-wrapper button:hover {
  background-color: #333;
}


@media (max-width: 600px) {
  .feature-options {
    padding: 10px;
    font-size: 0.9rem;
  }
  /*
.token-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #08dd76;
  color: #eee;
} */
  
}
